/* ---- COLORS
Primary = #606c88
Gradient = #606c88 - #3f4c6b
Bkgrd = #fcfbf5
Body text = #8d8d8d
---- */

/* ==== BASE STYLES ========================== */
body {
	font-family: 'Inconsolata', monospace;
	background-color: #fcfbf5;
	margin: 0;
}

h1, h2 {
	font-family: 'Special Elite', cursive; 
}

legend {
	font-family: 'Special Elite', cursive; 
	font-size: 18px;
	font-weight: 600;
}

li {
	list-style: none;
}

fieldset {
	padding: 0;
	margin: 0;
	border: none;
} 

input,
button,
select {              /* ---- Hides browser default :focus border styles on form - Part 1 ---- */
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}

input:focus,     /* ---- Part 2 ---- */
textarea:focus,
button:focus {
  outline: none;
}


/* ==== HEADER STYLES ======================== */

.header-container {
	background-image: linear-gradient(#606c88,#3f4c6b);
	color: #fcfbf5;
	font-family: 'Special Elite', cursive; 
	height: 100px;
	margin: 0;
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

h1 {
	font-size: 28px;
	text-shadow: 2px 2px 1px #222;
}

.fas {
	font-size: 40px;
	margin-top: -15px;
	margin-bottom: 20px;
	text-shadow: 2px 2px 1px #222;
}
      

/* ==== FORM STYLES ========================== */
/* ---- Sign Up Text  ----------------------- */

h2 {
	text-align: center;
	margin-top: 30px;
}

.sign-heading {
	font-size: 20px;
	margin-top: 40px;
}

.sign-up-txt {
	color: #8d8d8d;
	margin: 0 20px;
	font-size: 15px;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
	margin-top: -8px;
	margin-bottom: 30px;
}

.hardline-top-1  {
	margin: 0 20px;
	border: 0; 
	height: 1px;
	background: #606c88;
	background-image: linear-gradient(to left, #ccc, #333, #ccc);
	margin-bottom: 5px;
}

.hardline-top-2 {
	margin: 0 20px;
	border: 0; 
	height: 2px;
	background: #606c88;
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
	margin-bottom: 30px;
}


/* ---- Contact Info  ----------------------- */

.legend-contact {
	margin-bottom: 15px;
	padding: 0;
}

.form-flex {
      width: 90%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="street-address"],
input[type="zip"],
input[type="password"],
textarea,
select {      
	width: 98%;
	height: 30px;
	border: solid #5f5f5f .1px;
	font-family: 'Inconsolata', monospace;
	font-size: 14px;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 5px;
	margin-right: -10px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="street-address"]:focus,
input[type="zip"]:focus,
input[type="password"]:focus,
textarea:focus {
	background-image: linear-gradient(to bottom, rgba(150, 253, 62, 0.32), #fff 75%);
	border: solid #7ed435 1px;
	border-radius: 5px;
}

label {
	color: #8d8d8d;
	font-family: 'Inconsolata', monospace;
	font-size: 15px;
}

input::placeholder {
	color: darkred;
	text-align: right;
	padding-right: 20px;
	text-transform: uppercase;
	font-size: 11px;
}

.hardline-bott {
	margin: 25px 20px;
	border: 0; 
	height: 1px;
	background: #606c88;
	background-image: linear-gradient(to left, #ccc, #333, #ccc);

}

/* ---- Newsletter ----------------------- */

.legend-news {
	margin-bottom: -5px;
	padding: 0;
}

.newsletter-flex {
	display: flex;
	flex-direction: column;
} 

.news-flex,
.news-format {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.news-flex li,
.news-format li {
	margin-left: -40px;
	height: 30px;
}

.other-topics {
	font-size: 14px;
	padding-bottom: 5px;
}

textarea {
	height: 120px;
	font-family: 'Inconsolata', monospace;
}

/* ---- Sign Up Button ----------------------- */
button {
	height: 45px;
	color: #fcfbf5;
	background-color: #606c88;
	border-radius: 5px;	
	font-family: 'Special Elite', cursive; 
	font-size: 20px;
	margin-top: 15px;
}

button:active {
	border: solid #96fd3e 1px;
	color: #96fd3e;
}


/* ==== FOOTER STYLES ======================== */
footer {
	display: flex;
	justify-content: center;
	height: 40px;
	font-family: 'Inconsolata', monospace;
	background-image: linear-gradient(#606c88,#3f4c6b);
	color: #fcfbf5;
	font-size: 12px;
	font-weight: 100;
	text-align: center;
	margin-top: 50px;
}

/* ==== MEDIA QUERIES ======================== */

@media (min-width: 768px) {
	
	/* ---- HEADER ----------------------------------------------- */
	.header-container {
		flex-direction: row;
		justify-content: center;
		height: 40px;
		padding-bottom: 10px;
		padding-top: 30px;
		margin-bottom: 50px;
	}

	h1 {
		font-size: 20px;
		text-shadow: 1px 1px .5px #343434;
		margin-top: auto;
	}
	
	.fas {
		font-size: 22px;
		text-shadow: 1px 1px .5px #343434;
		margin-bottom: 10px;
		margin-left: 5px;
	}
	
	/* ---- CONTACT ----------------------------------------------- */

	form {
		margin: 0 160px;
	}	
	
	label {
		margin-right: 20px;
	}
	
	.form-field-zip {
		width: auto;
	}
		
	button {
		margin-top: 30px;
		margin-bottom: 50px;
	}
}






























