/* ---- COLORS
Primary = #606c88
Gradient = #606c88 - #3f4c6b
Bkgrd = #fcfbf5
Body text = #8d8d8d
---- */

/* ==== BASE STYLES ========================== */
body {
	font-family: 'Inconsolata', monospace;
	background-color: #fcfbf5;
	margin: 0;
}

h1, h2 {
	font-family: 'Special Elite', cursive; 
}

legend {
	font-family: 'Special Elite', cursive; 
	font-size: 18px;
	font-weight: 600;
}

li {
	list-style: none;
}

fieldset {
	padding: 0;
	margin: 0;
	border: none;
} 

input,
button,
select {              /* ---- Hides browser default :focus border styles on form - Part 1 ---- */
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}

input:focus,     /* ---- Part 2 ---- */
textarea:focus,
button:focus {
  outline: none;
}

/* ==== HEADER STYLES ======================== */

.header-container {
	background-image: linear-gradient(#606c88,#3f4c6b);
	color: #fcfbf5;
	font-family: 'Special Elite', cursive; 
	height: 60px;
	margin: 0;
	padding: 30px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border: dotted #fcfbf5 1px
}

h1 {
	font-size: 26px;
	text-shadow: 2px 2px 1px #222;
}

.fas {
	font-size: 40px;
	margin-bottom: 19px;
	margin-left: 1px;
	text-shadow: 2px 2px 1px #222;
}
      

/* ==== FORM STYLES ========================== */
/* ---- Sign Up Text  ----------------------- */

h2 {
	text-align: center;
	margin-top: 40px;
}

.sign-heading {
	font-size: 18px;
	margin-top: 30px;
}

.sign-up-txt {
	color: #8d8d8d;
	margin: 0 20px;
	font-size: 15px;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
	margin-top: -8px;
	margin-bottom: 20px;
}

.line-1  {
	width: 100%;
	height: 1px;
	background: #000;
}

.line-2 {
	width: 100%;
	height: 3px;
	background: #000;
	margin-bottom: 30px;
	margin-top: -5px;
}


/* ---- Contact Info  ----------------------- */

.legend-contact {
	margin-bottom: 15px;
	padding: 0;
}

.form-flex {
    width: 90%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="street-address"],
input[type="zip"],
textarea,
select {    
	width: 98%;
 	display: flex;
	height: 30px;
	border: solid #5f5f5f .1px;
	font-family: 'Inconsolata', monospace;
	font-size: 14px;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 5px;
	margin-right: -10px;
	transition: 1s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="street-address"]:focus,
input[type="zip"]:focus,
textarea:focus {
	background-image: linear-gradient(to bottom, rgba(150, 253, 62, 0.32), #fff 75%);
	border: solid #7ed435 2px;
	border-radius: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="street-address"]:focus,
input[type="zip"]:focus,
input[type="state"]:focus {
	height: 35px;
}

label {
	color: #8d8d8d;
	font-family: 'Inconsolata', monospace;
	font-size: 15px;
}

input::placeholder {
	color: darkred;
	text-align: right;
	padding-right: 20px;
	text-transform: uppercase;
	font-size: 11px;
}

#state {
	margin-bottom: 15px;
}

#zip {
	width: 50%;
	display: flex;
}

.line-3 {
	width: 100%;
	height: 3px;
	background: #000;
	margin-bottom: 30px;
	margin-top: 20px;
}

/* ---- Newsletter ----------------------- */

.legend-news {
	margin-bottom: -5px;
	padding: 0;
}

.newsletter-txt {
	color: #8d8d8d;
	font-size: 15px;
	font-weight: 500;
	line-height: 18px;
}

.newsletter-flex {
	display: flex;
	flex-direction: column;
} 

.news-flex li,
.news-format li {
	margin-left: -40px;
	height: 30px;
}

.other-topics {
	font-size: 14px;
	padding-bottom: 5px;
}

textarea {
	margin: 0;
	height: 120px;
	font-family: 'Inconsolata', monospace;
}

/* ---- Sign Up Button ----------------------- */
button {
	height: 45px;
	color: #fcfbf5;
	background-color: #606c88;
	border-radius: 5px;	
	font-family: 'Special Elite', cursive; 
	font-size: 18px;
	text-align: center;
	margin-top: 15px;
}

button:active {
	border: solid #96fd3e 1px;
	color: #96fd3e;
}


/* ==== FOOTER STYLES ======================== */
.footer-text {
	font-family: 'Inconsolata', monospace;
	color: #606c88;
	font-size: 14px;
	font-weight: 100;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 80px;
}

/* ==== MEDIA QUERIES ======================== */

@media (min-width: 768px) {
	
	/* ---- HEADER ----------------------------------------------- */
	.header-container {
		flex-direction: row;
		justify-content: center;
		height: 40px;
		padding-bottom: 10px;
		padding-top: 30px;
		margin-bottom: 50px;
	}

	h1 {
		font-size: 20px;
		text-shadow: 1px 1px .5px #343434;
		margin-top: auto;
	}
	
	.fas {
		font-size: 22px;
		text-shadow: 1px 1px .5px #343434;
		margin-bottom: 24px;
		margin-left: 3px;
	}
	
	/* ---- FORM----------------------------------------------- */
	.line-1,
	.line-2,
	.line-3 {
		width: 65.5%;
	}
		  
.sign-up-txt {
	font-size: 13px;
	}
	
	  fieldset {
		margin: 0 120px;
	}
	
	.field {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="street-address"],
	input[type="zip"],
	input[type="password"],
	select {
		width: 300px;
		  margin-right: 2px;
	}
	
	#zip {
		  width: 120px;
	}

button {
	  margin-right: 4px;
	  }
}

























